<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.edu.StudentcourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzu.edu.daoyun.entity.Studentcourse">
        <id column="stuCouID" property="stuCouID" />
        <result column="userID" property="userID" />
        <result column="couID" property="couID" />
        <result column="score" property="score" />
        <result column="lastEditorID" property="lastEditorID" />
        <result column="lastEditTime" property="lastEditTime" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stuCouID, userID, couID, score, lastEditorID, lastEditTime, createTime
    </sql>

</mapper>
