<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.edu.TeachercourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzu.edu.daoyun.entity.Teachercourse">
        <id column="teaCouID" property="teaCouID" />
        <result column="couID" property="couID" />
        <result column="userID" property="userID" />
        <result column="year" property="openYar" />
        <result column="lastEditTime" property="lastEditTime" />
        <result column="lastEditorID" property="lastEditorID" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        teaCouID, couID, userID, year, lastEditTime, lastEditorID, createTime
    </sql>

</mapper>
